body {
    height: 100%;
    margin: 0;
    background: linear-gradient(to bottom left, 
                                lightblue, 
                                pink, 
                                white, 
                                pink, 
                                lightblue);
}

h1 {
    text-align: center;
    color: #fff;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow:
        3px 3px 0 #000,
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
         1px 1px 0 #000;
}

h3 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-decoration: underline;
}

h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-style: italic;
    color: rgb(52, 170, 52);
}

.pet-pics {
    width: 300px;
    height: 300px;
    object-fit:cover;
    padding-left: 250px;
}
/*
test out lineHeight
*/
ul {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-left: 600px;
}

#specialMessage {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #ff0;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 20px;
}

#shrek {
    color: rgb(52, 170, 52)
}


/*  **scrap "fun tip" idea for now**
#fun-tip {
    padding-left: 20px;
    padding-bottom: 50px;
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: italic;
    color: #ff0;
}

#star-eyes {
    width:75px;
    height:75px;
    object-fit:cover;
    display:none;
}
*/